.sidebarChat {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.sidebarChat:hover {
  background-color: #3e93fd;
  color: white;
}
.sidebarChat__info {
  margin-left: 8px;
  position: relative;
  width: 100%;
}
.sidebarChat__info > small {
  position: absolute;
  top: 5px;
  right: 0;
}
.sidebarChat__info > h3,
.sidebarChat__info > p {
  word-break: break-all;
  font-size: 16px;
}
.sidebarChat__info > p {
  font-size: 12px;
}
